* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.topbar {
  background-color: rgb(235, 172, 0);
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 1%;
}
.viewhome {
  text-decoration: none;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
  padding: 3px;
}
.viewhome:hover {
  background-color: white;
  color: rgb(235, 172, 0);
}
.topbar {
  font-family: "Playwrite NG Modern", cursive !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#btn {
  background-color: rgb(13, 110, 253);
  color: white;
  border: none;
}
#brushproductform {
  display: inline-block;
}
.editing-form {
  margin: 1% 0 1% 0;
}
.hide {
  display: none;
}
