* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contain {
  background-color: rgb(235, 172, 0);
  margin-top: -0.55%;
}
/* .dropdown-menu {
  background-color: rgb(235, 172, 0);
} */
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color: white;
}
.nav-link {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}
.btn {
  color: white;
}
.dropdown-item {
  color: white;
}
.nav-link:hover {
  border: solid 1px white;
  border-radius: 3px;
  color: white;
}
.login-btn {
  display: inline-block;
  text-align: left;
}
.carousel {
  margin-top: -0.55%;
}
.cont {
  display: inline-block;
  background-color: aqua;
}
.btn:hover {
  border: solid 1px white;
  color: white;
}
.about {
  background-color: white;
  margin: 300px 50px 300px 200px;
  padding: 50px 30px;
  border-radius: 5px;
}
.footer-icon:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.x:hover {
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}
.yt:hover {
  color: rgb(250, 92, 92);
  transition: all 0.5s;
}
.insta:hover {
  color: pink;
  transition: all 0.5s;
}
.fb:hover {
  color: rgb(0, 0, 255);
  transition: all 0.5s;
}
.reddit:hover {
  color: orange;
  transition: all 0.5s;
}
.footer-icons {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.footer-icon {
  font-size: 25px;
  margin: 0 10px;
  padding: 0 10px;
}
.footer {
  background-color: rgb(235, 172, 0);
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: auto;
}
.info-item {
  color: white;
  margin: 10px;
  text-decoration: none;
}
.info-item:hover {
  text-decoration: underline;
}
.item-card {
  margin: 1%;
}
.card {
  width: 20%;
}
.Title {
  text-align: center;
  color: rgb(235, 172, 0);
  margin-top: 1%;
}
.titlecontainer {
  border: solid rgb(235, 172, 0) 2px;
  border-radius: 5px;
  margin-left: 25%;
  margin-right: 25%;
}
body {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.morebtn {
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: white;
  border: solid rgb(235, 172, 0) 2px;
  color: rgb(235, 172, 0);
  padding: 5px;
}
.morebtn:hover {
  background-color: rgb(235, 172, 0);
  color: white;
}
