.contain {
  background-color: rgb(235, 172, 0);
  margin-top: -0.55%;
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color: white;
}
.nav-link {
  color: white;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 25px;
}
.nav-link:hover {
  background-color: white;
  color: rgb(235, 172, 0);
}
body {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn {
  color: white;
}
.btn:hover {
  border: solid 1px white;
  color: white;
}
.footer-icon:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.x:hover {
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}
.yt:hover {
  color: rgb(250, 92, 92);
  transition: all 0.5s;
}
.insta:hover {
  color: pink;
  transition: all 0.5s;
}
.fb:hover {
  color: rgb(0, 0, 255);
  transition: all 0.5s;
}
.reddit:hover {
  color: orange;
  transition: all 0.5s;
}
.footer-icons {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.footer-icon {
  font-size: 25px;
  margin: 0 10px;
  padding: 0 10px;
}
.footer {
  background-color: rgb(235, 172, 0);
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: auto;
}
.info-item {
  color: white;
  margin: 10px;
  text-decoration: none;
}
.info-item:hover {
  text-decoration: underline;
}
.profilecontainer {
  background-color: rgb(235, 172, 0);
  border-radius: 5px;
  margin: 0 10% 0 10%;
  padding: 10px 10px 0 10px;
}
p {
  color: white;
  font-size: 25px;
}
.recent {
  margin: 1% 25% 0 25%;
  padding-top: 10px;
  border: 3px solid rgb(235, 172, 0);
  border-radius: 5px;
}
.liked {
  margin: 1% 25% 0 25%;
  padding-top: 10px;
  border: 3px solid rgb(235, 172, 0);
  border-radius: 5px;
}
.title {
  color: rgb(235, 172, 0);
  text-align: center;
}
.productcontainer {
  background-color: rgb(235, 172, 0);
  margin: 1% 10% 0 10%;
  padding: 10% 0 10% 0;
  text-align: center;
  border-radius: 5px;
}
.card-text {
  color: black;
  text-align: center;
}
.card-title {
  text-align: center;
}
.btn {
  background-color: rgb(235, 172, 0);
  border: 2px solid rgb(235, 172, 0);
  border-radius: 25px;
}
.btn:hover {
  background-color: white;
  color: rgb(235, 172, 0);
  border: 2px solid rgb(235, 172, 0);
}
.card {
  margin: 1%;
}
#brushproduct {
  background-color: rgb(235, 172, 0);
  margin: 1% 10% 1% 10%;
  border-radius: 5px;
}
.profile-item {
  display: inline-block;
}
.hide {
  display: none;
}
/* #logout {
  border: 2px solid white;
  background-color: white;
  border-radius: 25px;
  color: rgb(235, 172, 0);
  margin-left: 77%;
  padding: 5px;
}
#logout:hover {
  background-color: rgb(235, 172, 0);
  color: white;
} */
.btn-group {
  border-radius: 25px;
  margin-left: 69%;
}
.edit,
.logout {
  border: 2px solid rgb(235, 172, 0);
  background-color: rgb(235, 172, 0);
  color: white;
}
.edit:hover {
  background-color: white;
  color: rgb(235, 172, 0);
}
.logout:hover {
  background-color: white;
  color: rgb(235, 172, 0);
}
