.footer-icon:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.x:hover {
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}
.yt:hover {
  color: rgb(250, 92, 92);
  transition: all 0.5s;
}
.insta:hover {
  color: pink;
  transition: all 0.5s;
}
.fb:hover {
  color: rgb(0, 0, 255);
  transition: all 0.5s;
}
.reddit:hover {
  color: orange;
  transition: all 0.5s;
}
.footer-icons {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.footer-icon {
  font-size: 25px;
  margin: 0 10px;
  padding: 0 10px;
}
.footer {
  background-color: rgb(235, 172, 0);
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: auto;
}
.info-item {
  color: white;
  margin: 10px;
  text-decoration: none;
}
.info-item:hover {
  text-decoration: underline;
}
.contain {
  background-color: rgb(235, 172, 0);
  margin-top: -0.55%;
}
.nav-link {
  color: white;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 25px;
}
.nav-link:hover {
  background-color: white;
  color: rgb(235, 172, 0);
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color: white;
}
.morebtn {
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: white;
  border: solid rgb(235, 172, 0) 2px;
  color: rgb(235, 172, 0);
  padding: 5px;
  transition: all 0.3s;
  border-radius: 25px;
}
.morebtn:hover {
  background-color: rgb(235, 172, 0);
  color: white;
}
.btn {
  background-color: rgb(235, 172, 0);
  border: 2px solid rgb(235, 172, 0);
  border-radius: 25px;
}
.btn:hover {
  background-color: white;
  border: 2px solid rgb(235, 172, 0);
  color: rgb(235, 172, 0);
}
.Title {
  text-align: center;
  color: rgb(235, 172, 0);
  margin-top: 1%;
}
.titlecontainer {
  border: solid rgb(235, 172, 0) 2px;
  border-radius: 5px;
  margin: 0 25% 0 25%;
  padding-top: 5px;
}
.item-card {
  margin: 1% 0 1% 0;
}
body {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.total-section {
  background-color: rgb(235, 172, 0);
  border-radius: 5px;
  padding: 3%;
}
.hide {
  display: none;
}
.total-title {
  border: 2px solid rgb(235, 172, 0);
  text-align: center;
  color: rgb(235, 172, 0);
  padding: 3%;
  border-radius: 5px;
}
.name {
  margin-left: 0;
}
.runningoutofnames {
  background-color: rgb(235, 172, 0);
  padding: 1% 0 1% 0;
  border-radius: 5px;
  margin-top: 1%;
}
.tag {
  color: white;
}
#minusBtn,
#plusBtn {
  border: 2px solid white;
}
.total-price {
  margin-top: 3.7%;
  border: 2px solid white;
  border-radius: 5px;
  padding: 2%;
}
.footer {
  margin-top: 1%;
}
.buybtn {
  border: 2px solid white;
  background-color: white;
  border-radius: 25px;
  color: rgb(235, 172, 0);
  margin-left: 39%;
}
.buybtn:hover {
  background-color: rgb(235, 172, 0);
  color: white;
}
