body {
  background-image: url(../images/background.jpg);
  background-size: cover;
}
.contain {
  background-color: rgb(235, 172, 0);
  width: 15%;
  height: 100vh;
  padding: 10px;
  display: inline-block;
}
#user {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#pass {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
}
p {
  margin: 10px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: white;
  color: rgb(235, 172, 0);
  padding: 3px;
  border-radius: 3px;
}
.register {
  border: none;
  background-color: white;
  border-radius: 3px;
  color: rgb(235, 172, 0);
}
.register:hover {
  background-color: rgb(235, 172, 0);
  color: white;
}
h1 {
  color: white;
}
.resize {
  width: 100%;
}
.anothercontainer {
  display: inline-block;
  background-color: rgb(235, 172, 0);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-left: 35%;
}
.text {
  font-size: 100px;
}
@media only screen and (max-width: 600px) {
}
body {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.title {
  font-size: 38px;
}
